@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">The best you can buy at the best price</p>
        </div>
    </div>
</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-1">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="@item.Image1" alt="">
                        </div>
                        <div class="card-body border-left border-right text-start p-0 pt-1">
                            <div class="row ms-2 me-2 d-flex align-content-lg-start">
                                <h6 class="text-truncate col">@item.ProductName</h6>
                                <h6 class="text-truncate col">@item.BrandName</h6>
                            </div>
                            <div class="row ms-2 me-2 d-flex align-content-lg-start">
                                <h6 class="text-truncate col">@item.MeasureOfScaleName: </h6>
                                <h6 class="text-truncate col">@item.Size</h6>
                            </div>
                            <div class="row ms-2 me-2 d-flex align-content-lg-start">
                                <h6 class="text-truncate col">Price: </h6>
                                <h6 class="text-truncate col">@item.Price</h6>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                            <a class="btn btn-sm text-dark p-0" asp-controller="Products" asp-action="Details" asp-route-ProductId="@item.ProductId"><i class="bi bi-eye text-primary m-1"></i>View Detail</a>
                            <a class="btn btn-sm text-dark p-0" asp-controller="Carts" asp-action="Upsert" asp-route-ProductId="@item.ProductId"><i class="bi bi-bag text-primary m-1"></i>Add To Cart</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
