@model ProductViewModel
<input type="hidden" asp-for="ProductId" />
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>
                @Html.DisplayFor(model => model.ProductName)
            </h1>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-3 border-right"><strong>Product ID:</strong></div>
                <div class="col-sm-9">@Model.ProductId</div>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-3 border-right"><strong>Category:</strong></div>
                <div class="col-sm-9">@Html.DisplayFor(model => model.CategoryName)</div>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-3 border-right"><strong>Price:</strong></div>
                <div class="col-sm-9">@Html.DisplayFor(model => model.Price) EGP</div>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-3 border-right"><strong>In stock:</strong></div>
                <div class="col-sm-9">@Html.DisplayFor(model => model.InstockQty)</div>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-3 border-right"><strong>Measure of Scale:</strong></div>
                <div class="col-sm-9">@Html.DisplayFor(model => model.MeasureOfScaleName)</div>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col-sm-3 border-right"><strong>Purchase Date:</strong></div>
                <div class="col-sm-9">@Html.DisplayFor(model => model.SignupDate)</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div>
                    <img class="img-fluid rounded" src="@Html.DisplayFor(model => model.Image1)" alt="">
                    <img class="img-fluid rounded" src="@Html.DisplayFor(model => model.Image2)" alt="">
                    <img class="img-fluid rounded" src="@Html.DisplayFor(model => model.Image3)" alt="">
                    <img class="img-fluid rounded" src="@Html.DisplayFor(model => model.Image4)" alt="">
                </div>
            </div>
        </div>
    </div>
    <form>
    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <label asp-for="@Model.Phone" class="control-label"></label>
            <input asp-for="@Model.Phone" class="form-control" />
            <input type="submit" value="Add to Cart" class="btn btn-primary" asp-controller="Carts" asp-action="Upsert" asp-route-Id="@Model.ProductId" asp-route-Phone="@Model.Phone" />
            <a class="btn btn-primary" asp-controller="Carts" asp-action="Upsert" asp-route-Id="@Model.ProductId" asp-route-Phone="@Model.Phone">Add to Cart</a>
            <a class="btn btn-primary me-1" href="@Url.Action("Upsert", new { id = Model.ProductId })">Edit</a>
            <a class="btn btn-danger" href="@Url.Action("Delete", new { id = Model.ProductId })">Delete</a>
        </div>
    </div>
    </form>
</div>