@model List<ProductViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Products</h2>
        <a class="btn btn-primary" href="@Url.Action("Upsert")">Create New</a>
    </div>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Category Name</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">In Stock</th>
                <th scope="col">In Stock Qty</th>
                <th scope="col">Measure Of Scale</th>
                <th scope="col">New</th>
                <th scope="col">Image</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class ="align-middle">
                    <td>@item.CategoryName</td>
                    <td>@item.ProductName</td>
                    <td>@item.Price</td>
                    <td>
                        @if (item.InstockQty > 0)
                        {
                            <span class="badge bg-success">Yes</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">No</span>
                        }
                    </td>
                    <td>@item.InstockQty</td>

                    <td>@item.MeasureOfScaleName</td>
                    <td>
                        @if (item.NewOrUsed)
                        {
                            <span class="badge bg-success">Yes</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">No</span>
                        }
                    </td>
                    <td><img width="50" height="50" src="@item.Image1" alt=""></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-secondary me-1" href="@Url.Action("Details", new { id = item.ProductId })">Details</a>
                            <a class="btn btn-primary me-1" href="@Url.Action("Upsert", new { id = item.ProductId })">Edit</a>
                            <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.ProductId })">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>