@model List<ProductViewModel>
@{
    ViewData["Title"] = "Store";
}
<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-xl-3">
            <!-- Price Start -->
            <div class="mb-4 pb-4 ">
                <h5 class="font-weight-semi-bold mb-4">Filter</h5>
                <form asp-controller="Products" asp-action="StoreFilter" method="get">
                    <div class="card mb-3">
                        <div class="card-header">
                            Filter by price range
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="lowPrice" name="lowPrice" placeholder=" ">
                                        <label for="lowPrice">Low price</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="highPrice" name="highPrice" placeholder=" ">
                                        <label for="highPrice">High price</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            Filter by category
                        </div>
                        <div class="card-body">
                            <select class="form-control" name="categoryId" asp-items="@ViewBag.Categories"><option value="">Select</option>     </select>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            Filter by brand
                        </div>
                        <div class="card-body">
                            <select class="form-control" name="brandId" asp-items="@ViewBag.Brands"><option value="">Select</option>     </select>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            Filter by size
                        </div>
                        <div class="card-body">
                            <select class="form-control" name="size">
                                <option value="">Select</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                                <option value="XXXL">XXXL</option>
                                </select>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header">
                            Filter by new or not
                        </div>
                        <div class="card-body">
                            <select class="form-control" name="New">
                                <option value="">Select</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
        </div>
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" name="word" placeholder="Search by name">
                                <div class="input-group-append">
                                    <button type="submit" class="input-group-text bg-transparent text-primary"
                                            asp-controller="Products" asp-action="StoreSearch" >
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <form method="post">
                        <div class="dropdown ms-4">
                            <select class="form-control" name="size">
                                <option value="">Order By</option>
                                    <option value="@Model.OrderBy(x => x.ProductName)">Product Name</option>
                                    <option value="@Model.OrderBy(x => x.MeasureOfScaleId)">Scale</option>
                                    <option value="@Model.OrderBy(x => x.Price)">Price</option>
                            </select>
                        </div>
                        </form>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-1">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="@item.Image1" alt="">
                        </div>
                        <div class="card-body border-left border-right text-start p-0 pt-1">
                                <div class="row ms-2 me-2 d-flex align-content-lg-start">
                                    <h6 class="text-truncate col">@item.ProductName</h6>
                                    <h6 class="text-truncate col">@item.BrandName</h6>
                                </div>
                                <div class="row ms-2 me-2 d-flex align-content-lg-start">
                                    <h6 class="text-truncate col">@item.MeasureOfScaleName: </h6>
                                    <h6 class="text-truncate col">@item.Size</h6>
                                </div>
                                <div class="row ms-2 me-2 d-flex align-content-lg-start">
                                    <h6 class="text-truncate col">Price: </h6>
                                    <h6 class="text-truncate col">@item.Price</h6>
                                </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                                <a class="btn btn-sm text-dark p-0" asp-controller="Products" asp-action="Details" asp-route-ProductId="@item.ProductId"><i class="bi bi-eye text-primary m-1"></i>View Detail</a>
                                <a class="btn btn-sm text-dark p-0" asp-controller="Carts" asp-action="Upsert" asp-route-ProductId="@item.ProductId"><i class="bi bi-bag text-primary m-1"></i>Add To Cart</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

