@model List<ProductViewModel>
@{
    ViewData["Title"] = "Store";
    Layout = "../Shared/_Layout.cshtml";
    string x = null;
}
<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-10">
            <!-- Price Start -->
            <div class="border-bottom mb-4 pb-4">
                <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                <form asp-controller="Products" asp-action="StoreFilter" method="get">
                    <div class="card mb-3">
                        <div class="card-header">
                            Filter by price range
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="lowPrice" name="lowPrice" placeholder=" ">
                                        <label for="lowPrice">Low price</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="highPrice" name="highPrice" placeholder=" ">
                                        <label for="highPrice">High price</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            Filter by category
                        </div>
                        <div class="card-body">
                            
                            @foreach (var category in Model)
                            {
                                if (@category.CategoryName != x)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="categoryId" value="@category.CategoryId" id="category-@category.CategoryId">
                                        <label class="form-check-label ml-3" for="category-@category.CategoryId">
                                        @category.CategoryName
                                    </label>
                                </div>
                                }
                                x = @category.CategoryName;
                            }
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Filter</button>
                </form>
            </div>
            <!-- Size End -->
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" name="word">
                                <div class="input-group-append">
                                    <button type="submit" class="input-group-text bg-transparent text-primary"
                                            asp-controller="Products" asp-action="StoreSearch" >
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="dropdown ml-4">
                            <button class="btn border dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                Sort by
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                <a class="dropdown-item" href="#">Latest</a>
                                <a class="dropdown-item" href="#">Popularity</a>
                                <a class="dropdown-item" href="#">Best Rating</a>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 col-sm-12 pb-1">
                    <div class="card product-item border-0 mb-4">
                        <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                            <img class="img-fluid w-100" src="@item.Image1" alt="">
                        </div>
                        <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                            <h6 class="text-truncate">@item.ProductName</h6>
                                <h6 class="text-truncate">@Html.Raw(item.Description)</h6>
                                <div class="d-flex justify-content-center">
                                <h6>@item.Price EGP</h6>
                                </div>
                        </div>
                        <div class="card-footer d-flex justify-content-between bg-light border">
                                <a class="btn btn-sm text-dark p-0" asp-controller="Products" asp-action="Details" asp-route-ProductId="@item.ProductId"><i class="bi bi-eye text-primary m-1"></i>View Detail</a>
                                <a class="btn btn-sm text-dark p-0" asp-controller="Carts" asp-action="Upsert" asp-route-ProductId="@item.ProductId"><i class="bi bi-bag text-primary m-1"></i>Add To Cart</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

